[Desktop Entry]
Name=Shadowsocks for Deepin
Name[zh_CN]=影梭
GenericName=Shadowsocks
GenericName[zh_CN]=影梭
Comment=If you want to keep a secret, you must also hide it from yourself.
Comment[zh_CN]=If you want to keep a secret, you must also hide it from yourself.
Exec=shadowsocks-deepin %f
Icon=shadowsocks-deepin
Terminal=false
Type=Application
Categories=Network;
MimeType=application/vnd.debian.binary-package;
NotShowIn=KDE;
StartupNotify=true
Keywords=ss;socks;shadowsocks;qt5;gfw
