cmake-build-debug/
cmake-build-release/
.idea/
build/
dist/
*.pro.user
flatpak/
!flatpak/build_shadowsocks-deepin.sh
!flatpak/cn.net.pikachu.shadowsocks-deepin.json
!flatpak/Makefile
!flatpak/zbar-0.10.tar.gz
.vscode/