Source: shadowsocks-deepin
Section: network
Priority: optional
Maintainer: lolimay <lolimay@lolimay.cn>
Build-Depends: debhelper (>= 9)
Standards-Version: 1.3.0
Homepage: https://github.com/lolimay/shadowsocks-deepin
Vcs-Git: git@github.com:lolimay/shadowsocks-deepin.git
Vcs-Browser: https://github.com/lolimay/shadowsocks-deepin.git

Package: shadowsocks-deepin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a powful shadowsocks client for linux deepin