Source: shadowsocks-deepin
Section: network
Priority: optional
Maintainer: lolimay <lolimay@lolimay.cn>
Build-Depends: debhelper (>= 9)
Standards-Version: 1.2.2
Homepage: https://github.com/lolimay/shadowsocks-deepin
#Vcs-Git: https://anonscm.debian.org/collab-maint/shadowsocks-deepin.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/shadowsocks-deepin.git

Package: shadowsocks-deepin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 影梭1.2.2 更新日志： 1.修复扫描二维码地址密码颠倒BUG 2.汉化率达到95% 3.托盘流量上下标与Windows版风格统一