Source: shadowsocks-client
Section: utils
Priority: optional
Maintainer: PikachuHy <2931408816@qq.com>
Build-Depends: debhelper (>= 9), qt5-qmake, qt5-default, qtbase5-dev, pkg-config, libdtkbase-dev, libdtkutil-dev, libdtkwidget-dev, libdframeworkdbus-dev, libqrencode-dev, libzbar-dev
Standards-Version: 3.9.8
Homepage: https://github.com/PikachuHy/shadowsocks-client
#Vcs-Git: https://anonscm.debian.org/collab-maint/deepin-shadowsocks-client.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/deepin-shadowsocks-client.git

Package: shadowsocks-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: If you want to keep a secret, you must also hide it from yourself.
 Deepin Shadowsocks Client.If you want to keep a secret, you must also hide it from yourself.
